<!doctype html>
<head>
    <title>tinychat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body ng-app="tinyChatApp">
    <div class="container" ng-controller="chatController as chat">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-heading-text">Tiny Chats</div>
            <form class="panel-input-form" ng-submit="chat.addMessage()">
              <div class="input-group">
                <input class="form-control width100 user-field" ng-model="chat.username" placeholder="Enter username">
                <input class="form-control width100" ng-model="chat.message" placeholder="Enter message">
                <div class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Chat!</button>
                </div>
              </div>
            </form>
          </div>
          <div class="ng-cloak">
            <div ng-repeat="message in chat.messages" class="panel-body custom-panel">
              <div class="message-author">
                {{ message.author }} ({{ message.timestamp * 1000 | date:'MM-dd' }})
              </div>
              <div class="message-body">
                {{ message.content }}
              </div>
          </div>
        </div>
    </div>

</body>

<script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="/js/app.js" type="text/javascript"></script>
<script src="/js/controllers/chatController.js" type="text/javascript"></script>
<script src="/js/helperFunctions.js" type="text/javascript"></script>
</html>
