/* Stub CSS file for your tinychat app! */

body {
    background-color: snow;
    color: #333;
}

.panel-heading-text {
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	font-size: 35px;
	font-family: 'Pacifico', cursive;
}

.container {
	margin-left: 5%;
  margin-right: 5%;
  width: 90%;
	padding: 0;
}