/* Stub CSS file for your tinychat app! */

body {
    background-color: snow;
    color: #333;
}

.panel-heading-text {
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	font-size: 35px;
	font-family: 'Pacifico', cursive;
}

.container {
	margin-top: 7%;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	padding: 0;
}

.panel-input-form {
	padding-top: 3%;
	padding-bottom: 3%;
}

.btn-primary {
	background-color: #9dbbe8;
	border: 1px solid #464e5b;
}

.btn-primary:focused {
	background-color: red;
	color: red;
}

.btn-primary:enabled {
	background-color: #9dbbe8;
	border: 1px solid #464e5b;
}

.form-control {
	border: 1px solid #464e5b;
}

.btn-primary {
	padding-top: 23px;
	padding-bottom: 23px;
}

.custom-panel:hover {
	background-color: #cde1f4;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}